<ion-header>
  <ion-toolbar>
    <ion-title>Asignación de Insumos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="asignar()">
    <!-- Selector de Técnico -->
    <ion-item>
      <ion-label position="stacked">Técnico</ion-label>
      <ion-select 
        [(ngModel)]="asignacion.tecnicoid" 
        name="tecnicoid" 
        interface="action-sheet"
        required
      >
        <ion-select-option 
          *ngFor="let tecnico of tecnicos" 
          [value]="tecnico.id"
        >
          {{ tecnico.nombre }} {{ tecnico.apellido }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Selector de Producto -->
    <ion-item>
      <ion-label position="stacked">Insumo</ion-label>
      <ion-select 
        [(ngModel)]="asignacion.productoid" 
        name="productoid" 
        interface="action-sheet"
        required
      >
        <ion-select-option 
          *ngFor="let producto of productos" 
          [value]="producto.id"
        >
          {{ producto.nom_producto }} (Stock: {{ producto.cant_existencia }})
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campo de Cantidad -->
    <ion-item>
      <ion-label position="stacked">Cantidad a Asignar</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="asignacion.cantidadasignada" 
        name="cantidadasignada"
        min="1"
        required
      ></ion-input>
    </ion-item>

    <!-- Botón de enviar -->
    <ion-button 
      type="submit" 
      expand="block" 
      shape="round"
      [disabled]="!asignacion.tecnicoid || !asignacion.productoid || !asignacion.cantidadasignada"
    >
      <ion-icon slot="start" name="save-outline"></ion-icon>
      Registrar Asignación
    </ion-button>
  </form>
</ion-content>
