<ion-content class="login-bg">
  <div class="login-center">
    <div class="login-card">
      <div class="login-avatar">
        <img src="assets/icon/gasf.png" alt="Gasfitería">
        <h2 class="login-title">GASFITERÍA</h2>
      </div>
      <form #form="ngForm" (ngSubmit)="login(form)">
        <ion-item lines="none" class="login-input">
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input
            name="username"
            type="text"
            required
            ngModel
            autocomplete="username"
            placeholder="Usuario"
          ></ion-input>
        </ion-item>
        <ion-item lines="none" class="login-input">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input
            name="password"
            type="password"
            required
            ngModel
            autocomplete="current-password"
            placeholder="Contraseña"
          ></ion-input>
        </ion-item>
        <div class="login-options">
          <ion-checkbox name="remember" ngModel></ion-checkbox>
          <span class="remember-text">Recuérdame</span>
        </div>
        <ion-button
          expand="block"
          type="submit"
          [disabled]="form.invalid"
          color="danger"
          class="login-btn"
        >
          INICIAR SESIÓN
        </ion-button>
        <div *ngIf="errorMessage" class="ion-text-center error-message">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </div>
</ion-content>